
.full {
    height: 100vh;
}
.main-title{
 margin:  20px 0 20px
}
.user-list{
     white-space: nowrap;
  overflow: auto;
  height: 100vh;
}
.mat-card {
  margin: 20px 0 20px
}

.demo-chart{
    height: 500px
}